body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Title */

#title {
  text-align: left;
  background-color: #ff4c68;
  color: #fff;
}

/* Headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 200%;
}

.navbar {
  padding-left: 0;
  padding-bottom: 5rem;
}

.nav-item {
  margin: 0 1rem;
  font-size: 120%;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* iPhone Mockup Image */

.iphone-mockup {
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Features */

#features {
  padding-top: 15vh;

  background-color: #fff;
  /* the position setting will help this section cover the iphone-mockup: because positioned element will stack on top, and now we're making both positioned, so the previous one is on bottom*/
  position: relative;
}

#features h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

#features p {
  color: #8f8f8f;
  width: 80%;
  margin: auto;
}

.feature-element {
  line-height: 1.5;
  margin-bottom: 4rem;
}

.feature-element .fas {
  color: #ef8172;
  font-size: 350%;
}

.feature-element .fas:hover {
  color: #ff4c68;
  transition: 0.5s ease;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width: 992px) {
  .iphone-mockup {
    position: static;
    transform: rotate(0);
    display: block;
    margin: auto;
  }

  .title-content {
    text-align: center;
  }
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 6% 15% 4%;
}

#cta h3 {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

#footer {
  padding: 7%;
}

#footer p {
  color: #535353;
  font-weight: 500;
}

#footer i {
  margin: 2rem 0.8rem;
}
